In [1]:
import pandas as pd

In [3]:
dataset=pd.read_csv("C:\\Users\\nagan\\OneDrive\\Desktop\\couseml\\general_data.csv")
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
Y=dataset.Attrition

In [5]:
X=dataset[['Age','BusinessTravel','Department','DistanceFromHome','Education','EducationField','Gender','NumCompaniesWorked','PercentSalaryHike','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager','JobLevel','JobRole','MaritalStatus','MonthlyIncome']]

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset["Department"]=le.fit_transform(dataset["Department"])

In [9]:
dataset["BusinessTravel"]=le.fit_transform(dataset["BusinessTravel"])

In [10]:
dataset["Attrition"]=le.fit_transform(dataset["Attrition"])

In [11]:
dataset["EducationField"]=le.fit_transform(dataset["EducationField"])

In [12]:
dataset["Over18"]=le.fit_transform(dataset["Over18"])

In [13]:
dataset["JobRole"]=le.fit_transform(dataset["JobRole"])

In [14]:
dataset["MaritalStatus"]=le.fit_transform(dataset["MaritalStatus"])

In [15]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,Female,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,Female,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,Male,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,Male,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,Male,...,4.0,0,12,8,2,9.0,2,6,0,4

In [16]:
import statsmodels.api as sm

In [17]:
X1= sm.add_constant(X)

C:\Users\nagan\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
Age                        4410 non-null int64
Attrition                  4410 non-null int32
BusinessTravel             4410 non-null int32
Department                 4410 non-null int32
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
EducationField             4410 non-null int32
EmployeeCount              4410 non-null int64
EmployeeID                 4410 non-null int64
Gender                     4410 non-null object
JobLevel                   4410 non-null int64
JobRole                    4410 non-null int32
MaritalStatus              4410 non-null int32
MonthlyIncome              4410 non-null int64
NumCompaniesWorked         4391 non-null float64
Over18                     4410 non-null int32
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TotalWorkingYears          4401 non-null float64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
dtypes: float64(2), int32(7), int64(14), object(1)
memory usage: 706.4+ KB

In [19]:
dataset["NumCompaniesWorked"]=le.fit_transform(dataset["NumCompaniesWorked"])

In [20]:
dataset["TotalWorkingYears"]=le.fit_transform(dataset["TotalWorkingYears"])

In [21]:
sm.tools.categorical

In [22]:
import statsmodels.api as sm

In [23]:
Y=dataset.Attrition

In [24]:
X=dataset[['Age','BusinessTravel','Department','DistanceFromHome','Education','EducationField','Gender','NumCompaniesWorked','PercentSalaryHike','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager','JobLevel','JobRole','MaritalStatus','MonthlyIncome']]

In [46]:
X1= sm.add_constant(X)

In [47]:
log= sm.Logit(Y,X1)

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).